.form-item-birthdate label {
    float: left;
    margin: 0 1em 0 0;
}

#splogin-login-form {
  min-height: 60vh;
  padding: 0 1em;
}

#splogin-login-form .form-submit {
  margin-top: 1em;
}

input[name="no_id_button"],
input[name="pass_reset_button"] {
  background-color: #FFFFFF;
  border-color: #555555;
  color: #555555;
}

input[name="no_id_button"]:hover, 
input[name="pass_reset_button"]:hover {
  background-color: #555555;
  border-color: #555555;
  color: #ffffff;
}
